.checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 50px auto;
}
.checkout-steps > div {
    border-top: 3px #4fc3f7 solid;
    color:#4fc3f7;
    flex: 1 1;
    padding-top: 10px;
}
.checkout-steps > div.active {
    border-top: 3px #0277bd solid;
    color: #0277bd;
}