.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 350px;
  margin: 10px;
  height: 500px;
  border-bottom: 1px lightblue solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  max-width: 340px;
  max-height: 340px;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.product-brand {
  font-size: 14px;
  color: black;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.rating{
  margin-bottom: 10px;
}