/* Sidebar */
.sidebar {
  position: fixed;
  transition: all 1sec;
  transform: translateX(-200px);
  width:200px;
  background-color: white ;
  opacity: 0.9;
  height: 100%;
}

/* Open sidebar for User */
.sidebar.open{
  transform: translateX(0);
}

/* Close sidebar for User */
.sidebar-close-button {
  border-radius: 50%;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 15px;
  background-color: lightcoral;
}

.sidebar-close-button:hover {
  background-color: lightcoral;
  opacity: 0.8;
}